/* hey welcome! it's your faithful friend Senga, and with you we'll build the beautiful 
  e-shop login page, are you ready? let's get started and enjoy 😎 */

/* GLOBAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	color: #374146;
	font-weight: 300;
	background: #f5f5f5;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* LES STYLES DE LA BARRE DE NAVIGATION */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background: rgba(0, 0, 0, .75);
  backdrop-filter: blur(30px);
  color: whitesmoke;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.logo a {
  color: whitesmoke;
  font-weight: 400;
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.links a {
  color: rgba(245, 245, 245, 0.7);
  padding: 0 20px 0 0;
  margin: 0 7px 0 0;
  position: relative;
  transition: .4s ease;
}

.links a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: whitesmoke;
  transition: .4s ease;
}

.links a:hover {
  color: whitesmoke;
}

.links a:hover::before {
  width: 50%;
}

/* LOGIN STYLES */
section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 5%;
	background: rgb(228, 228, 228);
}

.form-wrapper {
	width: 400px;
}

.heading {
	text-align: center;
}

.login-title a {
	color: inherit;
	font-size: 1.8rem;
	text-align: center;
}

.login-title {
	margin-bottom: 2rem;
}

form {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	padding: 5%;
	background: #fff;
}

.avatar {
	width: 80px;
	margin: 25px auto;
	display: block;
}

input.form-control,
select.form-select {
	border-radius: 0;
	border: transparent;
	border-bottom: 0.75px solid rgba(0, 0, 0, 0.05);
	font-weight: 300;
	background: transparent;
	transition: 0.3s ease-in;
}

input.form-control:focus,
select.form-select:focus {
	box-shadow: none;
	border-bottom: 1px solid #00a7e3;
	font-weight: 300;
	background: transparent;
}

form label {
	font-size: 0.9rem;
}

.link-hint {
	font-size: 0.75rem;
	display: block;
}

.btn-login {
	background: #00a7e3;
	color: white;
	margin: 15px 0 5px;
	border-radius: 25px;
	transition: 0.3s ease-in;
	border: 1px solid white;
	outline: none !important;
}

.btn-login:hover {
	color: white;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	animation: bounce 1s linear;
}

@keyframes bounce {
	20%,
	50%,
	80%,
	to {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-4px);
	}
	70% {
		transform: translateY(-2px);
	}
	90% {
		transform: translateY(-1px);
	}
}

.login-img,
.register-img {
	position: absolute;
	bottom: 5%;
	left: 13%;
	width: 180px;
	/* z-index: -1; */
}

.register-img {
	left: unset;
	right: 15%;
}

@media (max-width: 1100px) {
	.login-img,
	.register-img {
		display: none;
	}
}

/* ADMIN STYLES */


.admin-wrapper {
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.add {
	width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.admin-box {
	width: 50%;
	padding: 3%;
	/* margin: 10px; */
	border: none;
	border-radius: 10px;
	backdrop-filter: blur(20px);
	position: relative;
	transition: 0.4s;
}

.admin-box.right {
  text-align: right!important;
}

.admin-box form

.admin-box:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
}

.title {
	color: #00a7e3;
	font-size: 1.4rem;
}

.stat {
	width: 50%;
	padding: 2.2%;
	padding-left: 8%;
	text-align: right;
}

/* HISTORY STYLES */
#story {
	padding: 4% 0 0 0;
	background: center / cover url("../img/bg-1.jpg") fixed;
}

.filter {
	width: 20%;
	height: 100vh;
	position: relative;
	padding: 2% 20px;
	background: rgb(228, 228, 228);
}

.filter form {
	background: transparent;
	box-shadow: unset;
}

.story {
	width: 80%;
	height: 100vh;
	padding: 2%;
	background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
	backdrop-filter: blur(30px);
}

.story td,
.story th {
	border: 1px solid;
	padding: 10px 17px;
}

.story th {
  font-weight: 500;
  font-size: 1.2rem;
}